{% extends '1.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<div>
    <h1>Каталог товаров</h1>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quam. Non consequuntur quod exercitationem vel similique nemo ab! Velit, id mollitia aliquam odit, corrupti earum dignissimos porro nam eaque dolorem quibusdam error.</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quam. Non consequuntur quod exercitationem vel similique nemo ab! Velit, id mollitia aliquam odit, corrupti earum dignissimos porro nam eaque dolorem quibusdam
            error.</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quam. Non consequuntur quod exercitationem vel similique nemo ab! Velit, id mollitia aliquam odit, corrupti earum dignissimos porro nam eaque dolorem quibusdam
            error.</p>
    </div>
</div>
{% endblock %}